body{
	background : url("../images/bg.jpg");
}
#body {
	width:97%; 
	height:700px; 
	padding:0px;
	margin:0px;
}

#SimpleNotes {
	width:70%;
	margin: auto ;
	height:30%;
	background-color: #fff;
}

#notes {
	width: 70%;
	margin: auto;
	/* background-color: green; */
}
#notes > div {
    background-color: green;
    width: 30%;
    float: left;
    margin: 15PX 15PX 15PX 0;
}